body {
  background-color: whitesmoke;
  margin: 0;
}

header {
  background-color: #2196F3;
  padding: 5px;
  position: sticky;
  top: 0;
}

main {
  margin: 8px;
}

.logo {
  align-items: center;
  display: flex;
}

.logo-text {
  margin-left: 8px;
  color: white;
  font-weight: bold;
}

.tweet-card {
  background-color: white;
  border: #80808096 solid thin;
  border-radius: 8px;
  margin: 10px 0;
}

.tweet-image {
  max-width: 100%;
}

.tweet-image > img {
  width: 100%;
}

.tweet-text, .tweet-details {
  padding: 5px 8px;
}

.tweet-details {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.tweet-profile {
  align-items: center;
  display: flex;
}

img.profile-image {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.user-name {
  margin-left: 8px;
  font-weight: bold;
}

.tweet-timestamp {
  white-space: nowrap;
  display: flex;
  align-items: center;
  font-size: small;
  color: #4c4c4c;
}

.logo-img {
  width: 35px;
  height: 30px;
  border-radius: 5px;
}